<!-- <script src="on-boarding.component.ts"></script> -->
<div>
  <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>On Boarding Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="personalInfoTemplate.personalInfoForm" errorMessage="Personal Information is required">
              <ng-template matStepLabel>Personal Information</ng-template>
              <app-personal-info-template 
                  [email]="email" 
                  #personalInfoTemplate 
                  [formGroup]="personalInfoTemplate.personalInfoForm"
                  (updateForm)="dataRefreshForPersonalInfo($event)"
                  (updateDriverLicense)="dataRefreshDriverLicense($event)"
                  (updateWorkAuth)="dataRefreshWorkAuth($event)">
              </app-personal-info-template>
            </mat-step>

            <mat-step [stepControl]="phoneAddressCarForm" errorMessage="Phone, Address and Car is required.">
              <form [formGroup]="phoneAddressCarForm">
                <ng-template matStepLabel>Phone, Address and Car</ng-template>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        placeholder="Cell Phone"
                        formControlName="cellPhone"
                        required
                      />
                      <mat-error
                        *ngIf="phoneAddressCarForm.controls['cellPhone'].hasError('required')"
                      >
                        Cell Phone is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
          
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        placeholder="Work Phone"
                        formControlName="workPhone"
                      />
                    </mat-form-field>
                  </div>
                </div>
          
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        placeholder="Current Address"
                        formControlName="address"
                        required
                      />
                      <mat-error
                        *ngIf="phoneAddressCarForm.controls['address'].hasError('required')"
                      >
                        Address is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" *ngIf="!hasUnitNumber">
                  <div class="col">
                    <button
                      mat-stroked-button
                      type="button"
                      color="primary"
                      (click)="hasUnitNumber = !hasUnitNumber"
                    >
                      + Add C/O, Apt, Suite, Unit
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="hasUnitNumber">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <textarea
                        matInput
                        placeholder="Address 2"
                        formControlName="address2"
                        required
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        placeholder="City"
                        formControlName="city"
                        required
                      />
                      <mat-error
                        *ngIf="phoneAddressCarForm.controls['city'].hasError('required')"
                      >
                        City is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="State" formControlName="state" required>
                        <mat-option
                          *ngFor="let state of states"
                          [value]="state.abbreviation"
                        >
                          {{ state.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="phoneAddressCarForm.controls['state'].hasError('required')"
                      >
                        State is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
          
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        #postalCode
                        maxlength="5"
                        placeholder="Postal Code"
                        type="text"
                        formControlName="postalCode"
                        required
                      />
                      <mat-error
                        *ngIf="phoneAddressCarForm.controls['postalCode'].hasError('required')"
                      >
                        Postal code is <strong>required</strong>
                      </mat-error>
                      <mat-error
                        *ngIf="phoneAddressCarForm.controls['postalCode'].hasError('minlength')"
                      >
                      Postal is <strong>too short</strong>
                      </mat-error>
                      <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
          
                <br/><br/>
                <mat-card-subtitle>Car Information</mat-card-subtitle>
                <!--      Car      -->
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Maker" formControlName="carMaker"/>
                      <mat-hint align="end">Car Make</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Model" formControlName="carModel"/>
                      <mat-hint align="end">Car Model</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Color" formControlName="carColor"/>
                      <mat-hint align="end">Car Color</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="ReferenceContact.ContactForm" errorMessage="Reference contact is required.">
              <ng-template matStepLabel>Reference Contact</ng-template>
              <app-contact-template 
                [componentTitle]="referenceContact"
                #ReferenceContact
                (updateForm)="dataRefreshForReference($event)">
              </app-contact-template>
            </mat-step>

            <mat-step [stepControl]="EmergencyContact.ContactForm" errorMessage="Emergency contact is required.">
              <ng-template matStepLabel>Emergency Contact</ng-template>
              <app-contact-template 
                [componentTitle]="emergencyContact"
                #EmergencyContact
                (updateForm)="dataRefreshForEmergency1($event)"
                >
              </app-contact-template>

              <div class="row">
                <div class="col">
                  <button
                    mat-stroked-button
                    type="button"
                    color="primary"
                    (click)="showSecondEmergencyContact = !showSecondEmergencyContact"
                  >
                    {{!showSecondEmergencyContact?"+ Add an emergency contact" : "Remove the second emergency contact"}}
                  </button>
                </div>
              </div>

              <div *ngIf="showSecondEmergencyContact">
                <br/>
                <app-contact-template 
                  [componentTitle]="emergencyContact"
                  #EmergencyContact2
                  (updateForm)="dataRefreshForEmergency2($event)">
                </app-contact-template>
              </div>


            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Personal Documents</ng-template>
              <div class="row">
                <div class="col">
                  <mat-card-content>Please upload I983 with this template</mat-card-content>
                  <a
                    href="https://gp1storage.s3.us-east-2.amazonaws.com/template/i983.pdf"
                  >I983 Template</a>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <ngx-mat-file-input
                      [formControl]="fileI983"
                      [multiple]="multiple"
                      [color]="color"
                    >
                      <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                    </ngx-mat-file-input>
                  </mat-form-field>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col">
                  <mat-card-content>Please upload OPT receipt</mat-card-content>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <ngx-mat-file-input
                      [formControl]="fileOPTReceipt"
                      [multiple]="multiple"
                      [color]="color"
                    >
                      <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                    </ngx-mat-file-input>
                  </mat-form-field>
                </div>
              </div>

            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <h3>You are now done.</h3>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </mat-card-actions>

  </mat-card>

</div>
