<!-- <div style="width: 90%; margin: auto">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
    >
      {{ tile.text }}
      <button mat-raised-button color="primary">Primary</button>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->


<mat-card class="card-group">
    <br/>
  <!-- <div style="width: 90%; margin: auto; background: pink;"> -->
    <mat-card class="example-card" style="background: lightblue;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Name</mat-card-title>
        <mat-card-subtitle>Essential Info</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <mat-list>
          <mat-list-item> Name </mat-list-item>
          <mat-list-item> Preferred Name </mat-list-item>
          <mat-list-item> Date of Birth</mat-list-item>
          <mat-list-item> Age </mat-list-item>
          <mat-list-item> Gender </mat-list-item>
          <mat-list-item> SSN </mat-list-item>
         </mat-list>       
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="card-button">Edit</button>
      </mat-card-actions>
    </mat-card>
  <!-- </div> -->
  
  <br/>
  <!-- <div style="width: 90%; margin: auto"> -->
    <mat-card class="example-card" style="background: lightgreen;">
      <mat-card-header>
        <mat-icon>home</mat-icon>
        <mat-card-title>Address</mat-card-title>
        <mat-card-subtitle>Any Change should be Update</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Address Info List
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="card-button">Edit</button>
      </mat-card-actions>
    </mat-card>
  <!-- </div> -->
  
  <br/>
  <!-- <div style="width: 90%; margin: auto"> -->
    <mat-card class="example-card" style="background: rgb(243, 146, 247);">
      <mat-card-header>
        <mat-icon>info</mat-icon>
        <mat-card-title>Contact Info</mat-card-title>
        <mat-card-subtitle>Way to contact</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <p>
          The Shiba Inu.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="card-button">Edit</button>
      </mat-card-actions>
    </mat-card>
  <!-- </div> -->
  
  
  <br/>
  <!-- <div style="width: 90%; margin: auto"> -->
    <mat-card class="example-card" style="background: rgb(247, 234, 179);">
      <mat-card-header>
        <mat-icon>person</mat-icon>
        <mat-card-title>Employment</mat-card-title>
        <mat-card-subtitle>Visa Status</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Employement List
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="card-button">Edit</button>
      </mat-card-actions>
    </mat-card>
  <!-- </div> -->
  
  
  
  <br/>
  <!-- <div style="width: 90%; margin: auto"> -->
    <mat-card class="example-card" style="background: rgb(230, 175, 173);">
      <mat-card-header>
        <mat-icon>group</mat-icon>
        <mat-card-title>Emergency Contact</mat-card-title>
        <mat-card-subtitle>Update anytime</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Contact List
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="card-button">Edit</button>
      </mat-card-actions>
    </mat-card>
  <!-- </div> -->
  
  
  <br/>
  <!-- <div style="width: 90%; margin: auto"> -->
    <mat-card class="example-card" style="background: rgb(183, 173, 230);">
      <mat-card-header>
        <mat-icon>badge</mat-icon>
        <mat-card-title>Document</mat-card-title>
        <mat-card-subtitle>Status Tracking</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Document List
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="card-button">Edit</button>
      </mat-card-actions>
    </mat-card>
  <!-- </div> -->
  </mat-card>
  