
<div style="position: relative; top: 40%; left: 50%;" *ngIf="!isDataAvailable">
    <mat-spinner></mat-spinner>
    <strong>Loading...</strong>
</div>

<div *ngIf="isDataAvailable">
<table mat-table 
       [dataSource]="visaStatusInfo" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">

    <th class="header" mat-header-cell *matHeaderCellDef > {{column}} </th>
    <td class="primary" mat-cell *matCellDef="let element"> {{element[map[column]]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element;" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <form class="detail-element" >
            <mat-form-field style="width:17em">
              <mat-label>Legal Name:</mat-label>
              <input matInput id="{{ 'name-' + element.idx }}" name="type" matInput  matInput style="color: black;" [disabled]="!isEdit" [value]="element.fullName"> 
              <div style="color:red; font-size:small" *ngIf="!isNameValid && isSubmitted">Legal name is required</div>
            </mat-form-field>

            <mat-form-field *ngIf="!isEdit">
              <mat-label>Type:</mat-label>
              <input name="type" matInput  matInput style="color: black;" [disabled]="!isEdit" [value]="element.workAuthorization">
            </mat-form-field>

            <mat-form-field style="width:17em" appearance="fill" *ngIf="isEdit">
              <mat-label>Type:</mat-label>
              <mat-select style="color: black;" (selectionChange)="select($event)" name="type" [disabled]="!isEdit" >
              <mat-option [value]="'H1-B'">H1-B</mat-option>
              <mat-option  [value]="'L2'">L2</mat-option>
              <mat-option  [value]="'F1(CPT/OPT)'">F1(CPT/OPT)</mat-option>
              <mat-option  [value]="'H4'">H4</mat-option>
              <mat-option  [value]="'Other'">Other</mat-option>
            </mat-select>
              <div style="color:red; font-size:small" *ngIf="!isTypeValid && isSubmitted">Please choose a Visa Type</div>
            </mat-form-field>

            <mat-form-field style="width:17em" *ngIf="!isEdit">
              <mat-label>Start Date</mat-label>
              <input matInput id="{{ 'startDate-' + element.idx }}" name="startDate" matInput  style="color: black;" [disabled]="!isEdit" [value]="element.authorizationStartDate" placeholder="yyyy-mm-dd"> 
              <div style="color:red; font-size:small" *ngIf="!isStartDateValid && isSubmitted">Pease enter valid date "yyyy-mm-dd"</div>
            </mat-form-field>

            <mat-form-field style="width:17em" *ngIf="isEdit">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="picker1" [value]="element.authorizationStartDate" (dateChange)="addStartDateEvent(element.idx, $event)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="width:17em" *ngIf="!isEdit">
              <mat-label>End Date:</mat-label>
              <input matInput id="{{ 'endDate-' + element.idx }}" name="endDate" matInput  style="color: black;" [disabled]="!isEdit" [value]="element.authorizationEndDate" placeholder="yyyy-mm-dd"> 
              <div style="color:red; font-size:small" *ngIf="!isEndDateValid && isSubmitted">Please enter valid date "yyyy-mm-dd"</div>
            </mat-form-field>
            
            <mat-form-field style="width:17em" *ngIf="isEdit">
                <mat-label>End date</mat-label>
                 <input matInput [matDatepicker]="picker2" [value]="element.authorizationEndDate" (dateChange)="addEndDateEvent(element.idx, $event)">
                 <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                 <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field> 
            
            <br>

            <button *ngIf="!isEdit" [id]="element.idx" style="background-color: transparent; border: none; outline: none; cursor:pointer" (click)="onEdit($event)"><mat-icon style="font-size: medium;"> border_color</mat-icon></button><br>
            <button *ngIf="isEdit" [id]="element.idx" mat-button color="primary" (click)="onSubmit($event)">Save</button>
            <button *ngIf="isEdit" [id]="element.idx" mat-button color="gray" (click)="onCancel($event)">Cancel</button>
        </form>
        
        <div class="example-element-diagram">
            <strong>Document Received: </strong>
            <div *ngFor="let item of element.documentReceived">
                <mat-icon style="font-size: medium;">file_copy</mat-icon>{{item}}
            </div>
            <div class="notification" ><strong>Next Step: {{element.nextStep}}</strong> | <button *ngIf="element.idx.nextStep !== 'No Further Action Needed'" [id]="element.idx" style="background-color: transparent; outline: none; border: none; text-decoration: underline; color: blue; cursor: pointer" (click)="sendNotification($event)">Send Notification</button> 
            </div>
        </div>
        <br>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</div>
