<div style="text-align: center">
  <h1>Housing Details</h1>
  <button (click)="goBack()" color="primary" mat-raised-button>go back</button>
  <button (click)="onSubmitData()" color="primary" mat-raised-button>
    Submit To Database
  </button>
</div>

<mat-grid-list cols="1" rowHeight="1:1">
  <div *ngIf="house">
    <mat-grid-tile>
      <mat-card class="clickable">
        <mat-card-title>House Info</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <strong>House Address:</strong> &nbsp;
              <input
                [(ngModel)]="house.address"
                placeholder="{{ house.address }}"
              />
            </mat-list-item>

            <mat-list-item>
              <strong>Landlord:</strong> &nbsp;
              <input
                [(ngModel)]="house.landlord"
                placeholder="{{ house.landlord }}"
              />
            </mat-list-item>
            <mat-list-item>
              <strong>Phone:</strong> &nbsp;
              <input
                [(ngModel)]="house.phone"
                placeholder="{{ house.phone }}"
              />
            </mat-list-item>
            <mat-list-item>
              <strong>Number of Person:</strong> &nbsp;
              <input
                [(ngModel)]="house.numberOfPerson"
                placeholder="{{ house.numberOfPerson }}"
              />
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card class="clickable">
        <mat-card-title>Facility Info</mat-card-title>
        <mat-card-content>
          <mat-list *ngFor="let f of facility">
            <div id="facilityInfo">
              <mat-list-item>
                <strong>Facility Info Id:</strong> &nbsp;
                {{ f.facilityId }}
              </mat-list-item>
              <mat-list-item>
                <strong>Number of Beds:</strong> &nbsp;
                <input
                  [(ngModel)]="f.numberOfBeds"
                  placeholder="{{ f.numberOfBeds }}"
                />
              </mat-list-item>
              <mat-list-item>
                <strong>Number of Mattresses:</strong> &nbsp;
                <input
                  [(ngModel)]="f.numberOfMattresses"
                  placeholder="{{ f.numberOfMattresses }}"
                />
              </mat-list-item>
              <mat-list-item>
                <strong>Number of Tables:</strong> &nbsp;
                <input
                  [(ngModel)]="f.numberOfTables"
                  placeholder="{{ f.numberOfTables }}"
                />
              </mat-list-item>
              <mat-list-item>
                <strong>Number of Chairs:</strong> &nbsp;
                <input
                  [(ngModel)]="f.numberOfChairs"
                  placeholder="{{ f.numberOfChairs }}"
                />
              </mat-list-item>
              <div id="facilityButton">
                <button
                  (click)="openDialog()"
                  color="primary"
                  mat-raised-button
                >
                  Facility Reports
                </button>
              </div>
            </div>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="clickable">
        <mat-card-title>Employee Info</mat-card-title>
        <mat-card-content>
          <mat-list *ngFor="let e of employee">
            <div id="employeeInfo">
              <mat-list-item>
                <strong>Name:</strong> &nbsp; {{ e.employeeName }}
              </mat-list-item>
              <mat-list-item>
                <strong>Phone:</strong> &nbsp; {{ e.employeePhone }}
              </mat-list-item>
              <mat-list-item>
                <strong>Email:</strong> &nbsp; {{ e.employeeEmail }}
              </mat-list-item>
              <mat-list-item>
                <strong>Car:</strong> &nbsp; {{ e.employeeCar }}
              </mat-list-item>
              <div id="employeeButton">
                <button
                  color="primary"
                  mat-raised-button
                  (click)="redirect(e.employeeId)"
                >
                  Check Employee
                </button>
              </div>
            </div>

            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
