.info {

    display: inline-block;
    margin:10px;
    padding:0px;
    background-color:rgb(166, 201, 241);
    font-size:25px;
    height:100px;
    width: 800px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    border-radius: 40px;
}