<div style="position: relative; top: 40%; left: 50%;" *ngIf="!isDataAvailable">
    <mat-spinner></mat-spinner>
    <strong>Loading...</strong>
  </div>


<script src="../../../app-routing.module.ts"></script>
<div class="grid-container" *ngIf="isDataAvailable">
  <!-- <div fxLayout="row" fxLayoutAlign="space-between">
    <h1 class="mat-h1" fxLayout="col">Hello {{ userName }}, Welcome To BeaconFire Solution!</h1>
    <button
      mat-stroked-button
      onClick="window.open('on-boarding')"
      color="primary"
    >
      Enter on-boarding information here
    </button>
  </div> -->

  <img src="https://static.wixstatic.com/media/3489eb_e5a6b997c9d947bfb183ee962176761b~mv2.png/v1/fill/w_436,h_133,al_c,q_85,usm_0.66_1.00_0.01/%E7%83%BD%E7%81%AB-0.webp">

</div>
