@import '~@angular/material/theming';

.grid-container {
  margin: 20px;
}

.mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  margin: 20px;
}

.mat-card-title {
  text-align: center;
}

img {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clickable {
  cursor: pointer;

  &:hover {
    @include mat-elevation(8);
  }
}

.center {
  text-align: center;
}

#employeeInfo {
  border: 1px solid black;
}

#facilityReportButton {
  text-align: center;
}
