<div style="position: relative; top: 40%; left: 50%;" *ngIf="!isDataAvailable">
    <mat-spinner></mat-spinner>
    <strong>Loading...</strong>
</div>
<br>
<h1 style="width: 100%; margin:auto; font-weight: bold; text-align: center;">Personal Information</h1>
<hr style="width: 100%;">

<div *ngIf="isDataAvailable">
 
  <mat-card class="example-card" style="background-color: #BCC6CC; display: inline-block;">
    <img style="width: 100px; height: 100px; float: right;" [src]="nameSection.avatar" >
    <mat-card-header >
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title style="color: white;"> <mat-icon >assignment_ind</mat-icon>Personal Info</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: white;">
      <div style="padding:2%;">
        <P style="float:left; color: grey;">Full Name:</P> <p >{{nameSection.fullName}}</p>
        <P style="float:left; color: grey;">preferred Name: </P> <p >{{nameSection.preferredName}}</p>
        <P style="float:left; color: grey;">Age: </P> <p >{{nameSection.age}}</p>
        <P style="float:left; color: grey;">SS#: </P> <p >{{nameSection.ssn}}</p>
        <P style="float:left; color: grey;">Date of Birth:</P> <p >{{nameSection.dob.substring(0,10)}}</p>
        <button style="display: inline-block;" mat-raised-button color="primary" (click)="editNameSection()">Edit</button>
      </div>
    </mat-card-content>
  </mat-card>
  
  
  
  
  <mat-card class="example-card" style="background-color: #B0E0E6; display: inline-block;">
    <mat-card-header >
      <mat-card-title style="color: white;"> <mat-icon >contacts</mat-icon>Contact Info</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: white;">
      <div style="padding:2%;">
        <P style="float:left; color: grey;">Personal Email:</P> <p >{{contactSection.personalEmail}}</p>
        <P style="float:left; color: grey;">Work Email:</P> <p >{{contactSection.workEmail}}</p>
        <P style="float:left; color: grey;">Ceil Phone:</P> <p >{{contactSection.ceilphone}}</p>
        <P style="float:left; color: grey;">Work Phone:</P> <p >{{contactSection.workPhone}}</p>
        <button mat-raised-button color="primary" (click)="editContactSection()">Edit</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="background-color: #A0CFEC; display: inline-block;">
    <mat-card-header >
      <mat-card-title style="color: white;"> <mat-icon >folder</mat-icon>Document Info</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: white;">
      <div style="padding:2%; " *ngFor="let d of documentSection">
        <mat-icon  style="float: left; font-size: medium;">file_copy</mat-icon><a href="https://markdown-bucket.s3.us-east-2.amazonaws.com/uPic/preview_2021_06_21_13_06_34.pdf">{{d.name}}</a>
        <a style="float: right;" href={{d.path}} style="float: right;">download</a>
        <br><br>
      </div>
    </mat-card-content>
  </mat-card> 

  <mat-card class="example-card" style="background-color: #98AFC7; display: inline-block;">
    <mat-card-header >
      <mat-card-title style="color: white;"> <mat-icon >my_location</mat-icon>Address Info</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: white;">
      <div style="padding:2%;">
        <mat-card-subtitle>Primary Address</mat-card-subtitle>
        <P style="float:left; color: grey;">Address Line 1:</P> <p >{{addressSection.primaryAddr.AddressLine1}} </p>
        <P style="float:left; color: grey;">Address Line 2:</P> <p >{{addressSection.primaryAddr.AddressLine2}}</p>
        <P style="float:left; color: grey;">City:</P> <p > {{addressSection.primaryAddr.City}}</p>
        <P style="float:left; color: grey;">State:</P> <p >{{addressSection.primaryAddr.State}}, {{addressSection.primaryAddr.Zip}}</p>
        <mat-card-subtitle *ngIf="addressSection.secondaryAddr != null">Secondary Address</mat-card-subtitle>
        <div class="card-content" *ngIf="addressSection.secondaryAddr != null">
          <P style="float:left; color: grey;">Address Line 1:</P> <p >{{addressSection.secondaryAddr.AddressLine1}} </p>
          <P style="float:left; color: grey;">Address Line 2:</P> <p >{{addressSection.secondaryAddr.AddressLine2}}</p>
          <P style="float:left; color: grey;">City:</P> <p > {{addressSection.secondaryAddr.City}}</p>
          <P style="float:left; color: grey;">State:</P> <p >{{addressSection.secondaryAddr.State}}, {{addressSection.secondaryAddr.Zip}}</p>
        </div>
        <button mat-raised-button color="primary" (click)="editAddressSection()">Edit</button>
      </div>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card" style="background-color: #87CEEB; display: inline-block;">
    <mat-card-header >
      <mat-card-title style="color: white;"> <mat-icon >ring_volume</mat-icon>Emergency Contact Info</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: white;">
      <div style="padding:2%;">
        <P style="float:left; color: grey;">Full Name: </P> <p >{{emergencyContactList.emergencyPerson1.fullName}}</p>
        <P style="float:left; color: grey;">Phone#: </P> <p >{{emergencyContactList.emergencyPerson1.phone}}</p>
        <P style="float:left; color: grey;">Primary Address : </P><p >{{emergencyContactList.emergencyPerson1.address.primaryAddr.AddressLine1}},</p><p *ngIf="emergencyContactList.emergencyPerson1.address.primaryAddr.AddressLine2 != null">{{emergencyContactList.emergencyPerson1.address.primaryAddr.AddressLine2}}</p>
        <P style="float:left; color: grey;"></P> <p >{{emergencyContactList.emergencyPerson1.address.primaryAddr.City}}, {{emergencyContactList.emergencyPerson1.address.primaryAddr.State}}, {{emergencyContactList.emergencyPerson1.address.primaryAddr.Zip}}</p>
        <div *ngIf="emergencyContactList.emergencyPerson1.address.secondaryAddr != null">
          <P style="float:left; color: grey;">Secondary Address : </P><p >{{emergencyContactList.emergencyPerson1.address.secondaryAddr.AddressLine1}},</p><p *ngIf="emergencyContactList.emergencyPerson1.address.primaryAddr.AddressLine2 != null">{{emergencyContactList.emergencyPerson1.address.secondaryAddr.AddressLine2}}</p>
          <P style="float:left; color: grey;"></P> <p >{{emergencyContactList.emergencyPerson1.address.secondaryAddr.City}}, {{emergencyContactList.emergencyPerson1.address.secondaryAddr.State}}, {{emergencyContactList.emergencyPerson1.address.secondaryAddr.Zip}}</p>
        </div>
        <button mat-raised-button color="primary" (click)="editEmergencyContactList()">Edit</button>
      </div>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card" style="background-color: #C6DEFF; display: inline-block;">
    <mat-card-header >
      <mat-card-title style="color: white;"> <mat-icon >file_copy</mat-icon>Employment Info</mat-card-title>
    </mat-card-header>
    <mat-card-content style="background-color: white;">
      <div style="padding:2%;">
        <P style="float:left; color: grey;">Work Authorization:</P> <p >{{employmentSection.workAuthorization}}</p>
        <P style="float:left; color: grey;">Authorization Start Date:</P> <p >{{employmentSection.authorizationStartDate.substring(0,10)}}</p>
        <P style="float:left; color: grey;">Authorization End Date:</P> <p >{{employmentSection.authorizationEndDate.substring(0,10)}}</p>
        <P style="float:left; color: grey;">Employment Start Date:</P> <p >{{employmentSection.employmentStartDate.substring(0,10)}}</p>
        <P style="float:left; color: grey;">Employment End Date:</P> <p >{{employmentSection.employmentEndDate?employmentSection.employmentEndDate.substring(0,10):''}}</p>
        <P style="float:left; color: grey;">Title: </P> <p >{{employmentSection.title}}</p>
        <button mat-raised-button color="primary" (click)="editEmploymentSection()">Edit</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

