<!-- <div style="width: 90%; margin: auto">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
    >
      {{ tile.text }}
      <button mat-raised-button color="primary">Primary</button>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->


<br/>
<div style="width: 90%; margin: auto; background: pink;">
  <mat-card class="example-card" style="background: lightblue">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Name</mat-card-title>
      <mat-card-subtitle>Essential Info</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        The Shiba Inu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>

<br/>
<div style="width: 90%; margin: auto">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>home</mat-icon>
      <mat-card-title>Address</mat-card-title>
      <mat-card-subtitle>Any Change should be Update</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu .
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>

<br/>
<div style="width: 90%; margin: auto">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>info</mat-icon>
      <mat-card-title>Contact Info</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>


<br/>
<div style="width: 90%; margin: auto">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>person</mat-icon>
      <mat-card-title>Employment</mat-card-title>
      <mat-card-subtitle>Visa Status</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>



<br/>
<div style="width: 90%; margin: auto">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>group</mat-icon>
      <mat-card-title>Emergency Contact</mat-card-title>
      <mat-card-subtitle>Update anytime</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>


<br/>
<div style="width: 90%; margin: auto">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-icon>badge</mat-icon>
      <mat-card-title>Document</mat-card-title>
      <mat-card-subtitle>Status Tracking</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>