.example-card {
  width: 350px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: transparent;
}
.example-header-image {
  background-image: url("https://markdown-bucket.s3.us-east-2.amazonaws.com/uPic/png-clipart-login-computer-icons-avatar-icon-monochrome-black-thumbnail_2021_06_16_17_09_28.png");
  background-size: cover;
}
